/* Padronização de estilos globais */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  border: none;
}

/* Header e parte superior do site */
header {
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.562);
  position: fixed;
  top: 0;
  width: 100%;
}

.container {
  max-width: 95%;
  margin: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 601px) {
  .container {
    justify-content: space-around;
  }

  .hamburger-menu {
    display: none;
  }
}

#logo {
  max-width: 100px;
}

/* Menu para versão Mobile */
nav {
  position: relative;
}

.hamburger-menu {
  margin-right: 40px;
}

ul.mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  top: 35px;
  right: -24px;
  background: rgba(0, 0, 0, 0.466);
  border-top: 1px solid white;
  overflow: hidden; /* Importante para ocultar o conteúdo que ultrapassa a altura máxima */
  height: 0;
  opacity: 0;
  transition: height 0.7s ease-in-out, opacity 0.7s ease-in-out;
  user-select: none;
}

.mobile.active {
  height: 245px;
  opacity: 1;
  visibility: visible;
}

.mobile li a {
  margin: 15px 0px;
  padding: 0px 20px;
  display: block;
  width: 100%;
}

.mobile.inactive {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.mobile li a:hover {
  color: rgb(185, 185, 185);
  transition-duration: 300ms;
}

/* Menu para versão Tablet e Acima */

.links {
  display: none;
}

@media (min-width: 601px) {
  .links {
    display: flex;
  }
}

.links li {
  padding: 0px 10px;
}

.links li a:hover {
  color: rgb(185, 185, 185);
  transition-duration: 300ms;
}

ul.links li:nth-child(3) {
  border-right: 1px solid rgb(255, 255, 255);
}

/* Corpo do site, contendo showcase e button */

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./img/showcase.webp");
  background-color: rgba(0, 0, 0, 0.438);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: color;
}

.showcase h2 {
  font-size: 4rem;
  text-align: center;
}

.showcase p {
  margin-top: 10px;
  text-align: center;
}

.showcase button {
  display: block;
  margin: 20px auto;
  padding: 10px 35px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.75px;
  background: #1db954;
  cursor: pointer;
}

.showcase button:hover {
  background: #1ed760;
  transition-duration: 300ms;
}

/* Footer */

footer {
  background: black;
  margin: 0px;
  padding: 0px;
}

.footer-logo {
  max-width: 100px;
  height: auto;
}

.footer-container {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.options-list h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-variant: small-caps;
  text-transform: lowercase;
  color: rgb(168, 168, 168);
  letter-spacing: 0.75px;
}

.options-list li {
  padding-top: 20px;
  margin-bottom: 3px;
}

.options-list li a:hover {
  color: #1ed760;
}
